html{
    background-color: #DCD8CF;
    font-family: 'Coda'
}
header{
    margin: 1% 10% 0% 10%;
    background-color: #282827;
    text-align: center;
    color: #DCD8CF;
    font-family: 'Cinzel Decorative';
}
h1{
    font-size: 100px;
}
.intro{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    padding: 1% 2% 1% 2%;
}
section{
    background-color: #E25D33;
}
.headline{
    text-align: center;
    font-size: 42px;
}
.games{
    margin-left: 10%;
    margin-right: 10%;
    padding: 1% 2% 1% 2%;
    margin-bottom: 2%;
}
#horizontalimg{
    height: 100%;
    width: 100%;
}
figcaption{
    font-size: 12px;
    text-align: center;
    font-style: italic;
}
footer{
    margin: auto;
    text-align: center;
}
